
html {
  font-family: sans-serif;
  background: #eee;
  padding: 1rem;
  height:100%;
}

body {
  max-width: 960px;
  margin: 0 auto;
  height : 90%;
  background: white;
  background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
  font-family: serif;
  color: #377ba8;
  margin: 1rem 0;
}

a {
  color: #377ba8;
}

hr {
  border: none;
  border-top: 1px solid lightgray;
}

nav {
  background: lightgray;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
}

nav h1 {
  flex: auto;
  margin: 0;
}

nav h1 a {
  text-decoration: none;
  padding: 0.25rem 0.5rem;
}

nav ul  {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li a, nav ul li span, header .action {
  display: block;
  padding: 0.5rem;
}

.content {
  margin:3%;
  height: 90%;
  padding: 0 1rem 1rem;
  background-image: url("./11.png");
  background-size: cover;  
}

.content > header {
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: flex-end;
}

.content > header h1 {
  flex: auto;
  margin: 1rem 0 0.25rem 0;
}

.flash {
  margin: 1em 0;
  padding: 1em;
  background: #cae6f6;
  border: 1px solid #377ba8;
}

.post > header {
  display: flex;
  align-items: flex-end;
  font-size: 0.85em;
}

.post > header > div:first-of-type {
  flex: auto;
}

.post > header h1 {
  font-size: 1.5em;
  margin-bottom: 0;
}

.post .about {
  color: slategray;
  font-style: italic;
}

.post .body {
  white-space: pre-line;
}

.content:last-child {
  margin-bottom: 0;
}

.content form {
  margin: 1em 0;
  display: flex;
  flex-direction: column;
}

.content label {
  font-weight: bold;
  margin-bottom: 0.5em;
}

.content input, .content textarea {
  margin-bottom: 1em;
  color: #cc2f2e;
}

.content textarea {
  min-height: 12em;
  resize: vertical;
}

input.danger {
  color: #cc2f2e;
}

input[type=submit] {
  align-self: start;
  min-width: 10em;
  border-radius: 10px;
  color: #66ccff;
}
.content #demo {
  margin-left: 40%;
  margin-right: 0;
  -webkit-box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 15px 5px rgba(0,0,0,0); 
  box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 15px 5px rgba(0,0,0,0);
}

#back {
  background-color: rgb(170, 170, 170, 0.7);
  height: 80%;
  width: 100%  ;
  border-radius: 30px;
  margin-top: 1%;
}

#left, #left_change, #left_show {
  display:inline-block;
  width: 40%;
  height: 100%;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 5%;
  margin-right: 3%;
  padding-top: 1%;
  text-align: center;
  vertical-align: middle;
}

#right {
  display:inline-block;
  width: 30%;
  padding-top: 3%;
  margin-top: 3%;
  text-align: center;
}

#ava {
  width: 40%;
  height: fit-content;
}

#avabutton {
  -webkit-box-shadow: -8px 6px 15px 15px rgba(221,166,255,0.61); 
  box-shadow: -8px 6px 15px 15px rgba(221,166,255,0.61);
  background: #edaae1;
  margin-top:10%;
  border-radius: 10px;
  border-color:#DC72CA;
}
/* change to class or id later */
.content div div div{
  color: black;
  margin-top: 10%;
  text-align: left;;
}