{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <div class="form-control">
      {{ form_register.username.label }}
      {{ form_register.username }}
      <span class="input-border input-border-alt"></span>
    </div>

    <form method="post">
      <div class="form-control">
        {{ form_register.password.label }}
        {{ form_register.password }}
        <span class="input-border input-border-alt"></span>
    </div>
  
    
  

    {{ form_register.password2.label }}
    {{ form_register.password2 }}
  

    {{ form_register.sex.label }}
    {{ form_register.sex }}


    {{ form_register.email.label }}
    {{ form_register.email }}
  
    <form method="post">
      <div class="form-control">
        {{ form_register.QQID.label }}
        {{ form_register.QQID }}
        <span class="input-border input-border-alt"></span>
    </div>
    
  

    {{ form_register.WechatID.label }}
    {{ form_register.WechatID }}
  

    {{ form_register.phoneNumber.label }}
    {{ form_register.phoneNumber }}
  
    <button>
      {{ form_register.submit }}
    </button>

    
  </form>
  <script>
    style = "color: #fff;font-size: 0.9rem;background-color: transparent;width: 100%;box-sizing: border-box;padding-inline: 0.5em;padding-block: 0.7em;border: none;border-bottom: var(--border-height) solid var(--border-before-color);box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);font-size: 1.2rem;padding-inline: 1em;padding-block: 0.8em;box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);"
    sb = document.getElementById("submit");
    sb.style = "box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);";
    console.log(1);
  </script>
{% endblock %}