{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}User Info{% endblock %}</h1>
{% endblock %}

{% block content %}
<div id = "back">
    <div id="left">
      <span>user avatar</span><br>
      <img id="ava" src = "../../static/2.jpg"></img>
      <br><hr><br>
      <button id="avabutton" onclick="OnChangeUserInfo(this)">修改个人信息</button><br>
      <button id="avabutton" onclick="JumpToHistoryOrder()" >查看历史订单</button><br>
      <button id="avabutton">还有什么来着</button><br>  
    </div>


    <div id="left_show" style="display: inline-block">
      <h2>我的个人信息</h2>
      <div><span>用户ID:  {{ g.userInfo["UID"] }} </span></div>
      <div><span>用户名:  {{ g.userInfo["userName"] }} </span></div>
      <div><span>性别:    {{ g.userInfo["sex"] }}</span></div>
      <div><span>QQ:      {{ g.userInfo["QQID"] }}</span></div>
      <div><span>微信:    {{ g.userInfo["WechatID"] }}</span></div>
      <div><span>电话:    {{ g.userInfo["phoneNumber"] }}</span></div>
      <div><span>川币:    {{ g.userInfo["chuanCoins"] }}</span></div>
    </div>
    
    
    <div id="left_change" style="display: none">
      <h2>修改个人信息</h2>
      <form method="post">
        {{ form_modify.username.label }}
        {{ form_modify.username }}      
    
        {{ form_modify.sex.label }}
        {{ form_modify.sex }}      
    
        {{ form_modify.QQID.label }}
        {{ form_modify.QQID }}      
    
        {{ form_modify.WechatID.label }}
        {{ form_modify.WechatID }}      
    
        {{ form_modify.phoneNumber.label }}
        {{ form_modify.phoneNumber }}      
        
        {{ form_modify.submit }}        
      </form>
    </div>
    
  </div>
  <div id="back" style="background-color: rgba(0,0,0,0);height: auto;min-height: 5%;">
    <br><hr>
    <span style="display: block;width:100%;font-size: small; text-align: center;">如有问题请联系: 123456789 @川</span>
</div>
<!--<form method="post">
  <label for="email">Email</label>
  <input name="email" id="email" required>
  <label for="password">Password</label>
  <input type="password" name="password" id="password" required>
  <input id = "demo" type="submit" value="Log In">
</form>
-->

<script>
  function OnChangeUserInfo(obj){
    left_show_display = document.getElementById("left_show").style.display;
    if(left_show_display == "none"){
      document.getElementById("left_show").style.display = "inline-block";
      document.getElementById("left_change").style.display = "none";
      obj.innerHTML = "修改个人信息";
    } 
    else{
      document.getElementById("left_show").style.display = "none";
      document.getElementById("left_change").style.display = "inline-block";
      obj.innerHTML = "显示个人信息";
    }
  }

  function JumpToHistoryOrder(){
    window.location.href = "/history_order";
  }
</script>

{% endblock %}