<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">


<nav>
  <h1><a href="{{ url_for('index') }}">Flaskr</a></h1>
  <input id="search_menu"/>
  <input id="search_button" type="button" value="search"/>

  <ul>
    {% if g.user %}
      <li><span>Hello! {{ g.user["username"] }}</span>
      <li><a href="{{url_for('order.create_order') }}">create</a></li>
      <li><a href="{{url_for('user.userinfo') }}">userinfo</a></li>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
    {% else %}
      <li><a href="{{ url_for('user.register') }}">Register</a>
      <li><a href="{{ url_for('auth.login') }}">Log In</a>
    {% endif %}
  </ul>
  
  <script>  
    const search_menu = document.querySelector('#search_menu');
    const search_button = document.querySelector('#search_button');

    search_button.addEventListener('click', () => {
        console.log(search_menu.value);
        window.location.href = '/search_order/' + search_menu.value;
    });
  </script>
</nav>


<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
